.contact-section {
  padding: 60px 20px;

  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000;
}

.contact-section form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #45bab3;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.contact-section input:focus,
.contact-section textarea:focus {
  border-color: #b1299d;
  outline: none;
}

.contact-section button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(20, 231, 178);;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-section button:hover {
  color: #25d1e4;
  box-shadow: 0 0 10px #25d1e4;
  background: linear-gradient(45deg, #695050, #059290);
}

.contact-section .form-status {
  margin-top: 20px;
  font-size: 1.2rem;
  color: rgb(101, 14, 130);
  animation: fadeIn 1s ease-in-out;
}

/* Scroll-triggered animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 2rem;
  }

  .contact-section input,
  .contact-section textarea {
    font-size: 0.9rem;
  }

  .contact-section button {
    font-size: 0.9rem;
  }
}
