/* Base styles for the Hero section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(45deg, #695050, #25d1e4);
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
  transition: background-color 0.3s;
}

/* Dark mode styles */
.hero.dark {
  background: linear-gradient(
    to right,
    rgb(179, 113, 178) 0%,
    #afeeee 50%,
    #afeeee 50%,
    rgb(135, 76, 147) 100%
  );
  color: #fff;
}

/* Hero content styles */
.hero-content {
  max-width: 50%;
  animation: fadeIn 1.5s ease-out;
}

/* H1 text animation */
.hero h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 1rem 0;
  animation: typing 2.5s steps(40, end), blinkCursor 0.75s step-end infinite alternate;
  animation-iteration-count: 3;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid transparent; /* Cursor effect */
}

.highlight {
  color: #25d1e4;
}
.paragraph{
  font-size: 1.2rem;
  margin: 1rem 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.heading-lg{
  font-size: 1.4rem;
  margin: 1rem 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Social icons styles */
.social-icons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}


.social-icons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #221f1f;
  justify-content: center;
  align-items:  center;
  position: relative;
  margin: 8px 5px; /* Space between icons */
  border-radius: 50%;
  transition: 0.3s ease-in;
  overflow: hidden;
  z-index: 10;
}

.social-icons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #695050, #25d1e4);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;

}

.social-icons a:hover {
  color: #25d1e4;
  box-shadow: 0 0 10px #25d1e4;
  background: linear-gradient(45deg, #695050, #059290);
}

.social-icons a:hover::before {
  transform: scale(0);
}

.social-icons a i {
  transition: 0.3s ease-in;
}

/* Dark mode toggle button styling */
.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: inherit;
}

.theme-toggle:focus {
  outline: none;
}

/* Hero image container styles */
.hero-image {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;
  animation: slideIn 1s ease-out;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

body.dark-mode {
  color: #fff;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(179, 113, 178) 0%,
    #afeeee 50%,
    #afeeee 50%,
    rgb(135, 76, 147) 100%
  );
}

/* Animation keyframes for fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation keyframes for slideIn */
@keyframes slideIn {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation keyframes for typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animation keyframes for blinking cursor */
@keyframes blinkCursor {
  from, to {
    border-color: hidden;
  }
  50% {
    border-color: hidden;
  }
}

.hero-image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 2rem;
  border-radius: 50%;
  background: var(--color-blue-100);
  position: relative;
  animation: blob 5s infinite;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(125, 32, 134, 0.2);
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

@media only screen and (min-width: 48rem) {
  .hero-image {
    max-width: 20rem;
  }
}

@media only screen and (min-width: 64rem) {
  .hero-image {
    max-width: 25rem;
  }
}

@keyframes blob {
  0%, 100% {
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
  25% {
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
